


<h1>About Shriek</h1>

<p>
	Shriek is an open source Yelp clone built by Andrew Hoffman.
	It is part of an attempt to both gain a better mastery of Ruby on Rails and at the same time contribute to the open source community. Feel free to use it if you please, but if possible link back to twitter: @andhof_mt or www.devfactor.net (I love visitors!)</p>

	<p>Sign up today!</p>