


<h1>About Shriek</h1>

<p>
	Shriek is an open source "clone" of Yelp. You can use it to post reviews of your favorite restaurants, read reviews and ratings and look at photos.<p>

	<p>
		Shriek is built on several different technologies:</p>
		<ul>
			<li>Ruby on Rails</li>
			<ul>
				<li>Figaro Gem | API keys</li>
				<li>Carrierwave Gem | Uploading</li>
				<li>Fog Gem | Amazon S3 Image Hosting</li>
				<li>Devise Gem | Authentication</li>
				<li>Mini Magick | Image Resizing</li> 
			</ul>
			<li>JavaScript + AngularJS</li>
			<li>JQuery</li>
			<li>Twitter Bootstrap</li>
			<li>PostgreSQL | Production DB</li>
			<li>SQlite3 | Development DB</li>

		</ul>

		<p>If you are interested in rolling your own "Yelp clone", feel free to branch the source code on GitHub. </p>
		<p>If you have questions, or comments please 

			<%= link_to "contact the author", "contact"%> </p>
