<h1>Contact Us!</h1>
<p>Shriek is an open source project, managed by <a href="http://www.andrewdhoffman.com/">Andrew Hoffman</a></p>
<p>If you need to contact him, the easiest ways are:</p>
<ul>
	<li><a href="http://www.twitter.com/andhof_mt">Twitter</a></li>
	<li><a href="http://www.devfactor.net">Blog</a></li>
	<li><a href="http://www.github.com/andhof-mt">GitHub</a></li>
</ul>
<p>If you find any bugs, security vulnerabilities or performance issues please make a note of it <a href="https://github.com/andhof-mt/shriek/issues">here</a>.</p>