
.jumbotron {
  background-color: #fdf7e1;
  border: 1px solid #f2cb3b;
  h2 {
      color: #c41200;
      font-weight: bold;
   }
}

.navbar-default {
  .container-fluid {
    background-color: #c41200;
    .navbar-nav > li > a {
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
    }
    .navbar-brand {
        color: black;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Hobo Std';




 
  color: black;
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;

  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ffffff , 0 0 70px #ffffff , 0 0 80px #ffffff , 0 0 100px #ffffff ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    }



  }
}
.container-fluid {
    padding: 10px 120px;
}